doc.txt
myads.txt
SmileSql.txt
*.zip
actualizador/
install_/
tinyinstall/
cache/default/
files/avatar/1_120.jpg
files/avatar/1_50.jpg
files/avatar/2_120.jpg
files/avatar/2_50.jpg
files/avatar/3_120.jpg
files/avatar/3_50.jpg
files/avatar/6_120.jpg
files/avatar/6_50.jpg
cache/uploads/*.jpg
themes/*.zip