* {
	list-style: none;
}
.boxy-content h1 {
	font-weight: 300;
	font-size: 28px;
	margin: 0;
	padding: 2px;
}
.phpostAlfa {
	padding: 30px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #888;
	font-size: 2em;
}
.column .phpost.pointer h1 {
	background-color: #EEE;
	display: block;
	cursor: pointer;
}
.column .phpost.pointer h1 > i {
	float: right;
	padding: 0px 10px;
	line-height: 35px;
}
.pp_list {
	margin: 0;
	padding: 0;
}
.pp_list.hide {
	display: none;
}
.pp_list.show {
	display: block;
}
.newTheme .new_themes_risus {
	padding: 2px;
}
.new_themes_risus:nth-child(2n+1) {
	background-color: #EEE;
}
.new_themes_risus .title small {
	float: right;
}
.new_themes_risus .body, 
.new_themes_risus .body * {
	font-size: 11px;
}
.column .card {
	margin-bottom: 10px;
}
.column .card .card-header,
.column .card .card-body {
	padding: 4px;
	margin: 0;
}
.column .card .card-body p {
	padding: 2px 6px;
	margin: 0;
}
.boxy-content .mensajes {
	display: block;
	text-align: center;
	padding: 8px;
}
.boxy-content .mensajes.ok {
	background-color: #68DA8B
}
.boxy-content .mensajes.error {
	background-color: #DA6868
}
.boxy-content form fieldset {
	padding: 10px;
	margin: 0;
}
.boxy-content form fieldset legend {
	margin-bottom: -20px;
}
.boxy-content form fieldset dl {
	border: 1px solid red;
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: 6px;
}
.boxy-content form fieldset dl dt span {
	display: block;
}
.boxy-content form fieldset dl dt span,
.boxy-content form fieldset dl dt span a {
	font-weight: 300;
	font-size: 12px;
}