/* 
 Theme:		Spectre
 Versión:	0.5.8
 Author: 	Miguel92
 Copyright:	2019
*/
* {
	outline: none;
	font-size: 16px;
}
a {
	text-decoration: none;
	cursor: pointer;
}
a:hover, .btn-link {
	color: #B76727;
}
/* Buttons */
.btn-warning {
	background-color: #E2C586;
}
.btn-info {
	background-color: #568FC5;
	border-color: #568FC5;
	color: #EEE;
}
.btn-info:hover {
	background-color: #568FC599;
	border-color: #568FC599;
	color: #EEE;
}
/* TEXTO */
.text-info {
	color: #125995;
}
/* EFECTOS */
.spinner {
    transform: translateZ(0);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading
 }
@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}
/* ADS */
.ads {
	overflow: hidden;
	position: relative;
	margin: 8px 0;
}
.ads a > img {
	width: 100%;
	height: 100%;
}
.ads-300 {
	width: 300px;
	height: 250px;
}
.ads-468 {
	width: 468px;
	height: 60px;
}
.ads-160 {
	width: 160px;
	height: 600px;
}
.ads-728 {
	width: 728px;
	height: 90px;
}
/* HEADER */
.container {
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	background-color: #FFF;
}
header.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	transition: all .4s ease;
}
header.navbar.bgc {
	background-color: #4B8A9A99;
	transition: all .4s ease;
}
header.navbar section {
	padding: 6px 4px;
}
.navbar-center .logo figure {
	font-weight: 700;
}
.navbar .navbar-brand {
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #17B595;
	float: left;
	font-size: 1.6em!important;
}
.hero.header {
	height: 260px;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 5rem;
	-webkit-background: radial-gradient(ellipse at bottom, #1D4F8A99 0%, #4B8A9A99 100%), url('../../modulos/img/header.webp');
	background: radial-gradient(ellipse at bottom, #1D4F8A99 0%, #4B8A9A99 100%), url('../../modulos/img/header.webp');
	background-repeat: no-repeat;
	background-position: 0 center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	color: #FFF;
	font-family: 'Acme', cursive;
	text-transform: uppercase;
}
.hero.header h1 {
	font-size: 4em;
	padding: 0;
	margin: 0;
	text-shadow: 0 0 5px rgba(0,0,0,.24)
}
.hero.header p {
	font-weight: 300;
	text-transform: lowercase;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
	margin-top: -10px;
}
figure.avatar {
	text-transform: uppercase;
}
.menu-nav {
	display: inline-block;
	position: relative;
}
.menu-nav .btn-link.badge {
	font-size: 9px;
}
.menu-nav .badge[data-badge]::after {
	margin-top: 10px;
	margin-right: 5px;
	background-color: #FD3866CC;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.menu-nav .menu {
	position: absolute;
	right: 0;
	width: 310px;
}
.menu-nav .menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #333;
}
.menu-nav .menu > ul li {
	margin: 0;
	padding: 4px;
	display: block;
}
.menu-nav .menu > ul li,
.menu-nav .menu > ul li a,
.menu-nav .menu > ul li b {
	font-size: 13px;
}
.menu-nav .menu > ul li:hover {
	background-color: #EEE;
}
.menu-nav .menu > ul li.unread {
	background-color: #FFF6D3;
}
.menu-nav .menu > ul#boxMail li a {
	color: #333;
	font-size: 11px;
}
.menu-nav .menu > ul#boxMail li a > img {
	width: 35px;
	height: 35px;
	float: left;
	border-radius: 10em;
	object-fit: cover;
	margin-top: 2px;
	margin-right: 2px;
}
.menu-nav .menu > ul#boxMail li a .content {
	margin-left: 40px;
}
.menu-nav .menu > ul#boxMail li a .content .subject {
	font-weight: 600;
	font-size: 14px;
}
.menu-nav .menu > ul#boxMail li a .content .time span,
.menu-nav .menu > ul#boxMail li a .content .time {
	font-size: 9px;
	font-style: italic;
}
.menu-nav .menu .ver-mas {
	display: block;
	padding: 4px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
}
.menu-nav a span.size {
	font-size: 24px;
	line-height: 32px;
}
header.navbar section a,
header.navbar section .btn-link {
	color: #EEE;
}
.menu-nav .menu > ul li a,
header.navbar section .chip,
.menu-nav .menu .ver-mas {
	color: #333;
}
#container nav.navbar {
	margin-top: -40px;
	padding: 6px;
}
footer {
	text-align: center;
	padding: 10px 0;
}
footer .pages {
	width: 80%;
	margin: 0 auto;
	display: table;
}
footer .pages a {
	padding: 2px;
	float: left;
	width: 25%;
	display: block;
}
footer #pp_copyright {
	font-size: 12px;
	padding: 12px 0;
}
#button {
	display: inline-block;
	background-color: #FF9800;
	padding: 10px;
	text-align: center;
	border-radius: 4px;
	color: #EEE;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: all .6s ease-in;
	z-index: 1000;
}
.show {
	transition: all .6s ease-in;
  	opacity: 0;
  	visibility: hidden;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}

.categorias {
	position: relative;
}
.categorias #cats {
	position: absolute;
	width: 500px;
	padding: 2px;
	right: 0;
	background-color: #fff;
	columns: 3;
}
.categorias #cats a {
	display: block;
	padding: 2px;
	font-size: 12px;
}
/* MODAL */
	.emptyData {
	font-style: italic;
	color: #888;
	display: block;
	padding: 4px;
	text-align: center;
	background-color: #EEEEEE99;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	background-image: none;
	border: .05rem solid #bcc3ce;
	border-radius: .1rem;
	color: #3b4351;
	display: block;
	font-size: .8rem;
	height: 1.8rem;
	line-height: 1.2rem;
	max-width: 100%;
	outline: 0;
	padding: .25rem .4rem;
	position: relative;
	transition: background .2s,border .2s,box-shadow .2s,color .2s;
	width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #5755d9;
    box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2);
}
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #bcc3ce;
}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    color: #bcc3ce;
}
input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #bcc3ce;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #bcc3ce;
}
/* BOX */
.box {
	margin-bottom: 10px;
}
.box h4 {
	border-bottom: 1px solid #CCC;
	font-size: 18px;
	padding: 4px;
}
.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
[class*=-tile-icon]  {
   font-size: 1.2rem;
   height: 2rem;
   width: 2rem;
   color: #EEE;
   border-radius: .1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.random-tile-icon {
	background-color: #A88D0D;
}
.purple-tile-icon {
	background-color: #5755d9;
}
.red-tile-icon {
	background-color: #E80F56;
}
.sky-tile-icon {
	background-color: #0F7FE8;
}
.posts .column {
	margin-bottom: 16px;
}
.posts .column .card {
	position: relative;
}
.posts .column .card .chip {
	position: absolute;
	right: 10px;
	bottom: 16px;
}
.chip figure.c1,.chip figure.c7,.chip figure.c13,.chip figure.c19,.chip figure.c25,.chip figure.c31 {
	background-color: #A23F3F;
}
.chip figure.c2,.chip figure.c8,.chip figure.c14,.chip figure.c20,.chip figure.c26,.chip figure.c32 {
	background-color: #124E91;
}
.chip figure.c3,.chip figure.c9,.chip figure.c15,.chip figure.c21,.chip figure.c27,.chip figure.c33 {
	background-color: #C17112;
}
.chip figure.c4,.chip figure.c10,.chip figure.c16,.chip figure.c22,.chip figure.c28 {
	background-color: #DF1C5C;
}
.chip figure.c5,.chip figure.c11,.chip figure.c17,.chip figure.c23,.chip figure.c29 {
	background-color: #3F720D;
}
.chip figure.c6,.chip figure.c12,.chip figure.c18,.chip figure.c24,.chip figure.c30 {
	background-color: #8BB118;
}
.posts .column .card .card-header .card-subtitle {
	line-height: 1em;
	font-size: 12px;
}
/* Buscador */
#showResult h2 {
	display: block;
	padding: 4px;
	font-weight: 300;
	font-size: 18px;
	background-color: #EEE;
	margin: 8px 0;
}
.searchAction {
	position: relative;
}
.searchAction .info {
	position: absolute;
	top: 20px;
	right: 30px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.25);
	display: none;
	width: 180px;
	border-radius: 4px;
	padding: 4px;
}
.searchAction .info span {
	display: block;
	padding: 2px;
}
.searchAction .info span i {
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}
.searchAction .info span strong {
	float: right;
}
/* AGREGAR POSTS */
#emoticons {
   text-align: center;
   border: 3px solid #CCCCCCFF;
   overflow-x: hidden;
}
#emoticons.agregar {
   height: 140px;
   overflow-y: scroll;

}
#emoticons .smiles a {
   text-decoration: none;
   font-size: 22px;
   padding: 2px;
   cursor: pointer;
   float: left;
}
#emoticons .smiles a:hover {
	background-color: #EEE;
}
#emoticons .espera {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.form-add-post form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.has-error > input {
	border: 1px solid red;
}
/* POST */
.post-contenedor .post-title {
	border-bottom: 1px solid #CCC;
	padding: 2px;
	margin-bottom: 4px;
}
.post-contenedor .post-title h1 {
	font-weight: 300;
	font-size: 24px;
	margin-bottom: -4px;
	display: block;
	padding: 4px;
}
.post-contenedor .post-title .subtitle a,
.post-contenedor .post-title .subtitle span {
	font-size: 12px;
}
.post-contenedor .post-contenido span.p-2 {
	display: block;
	word-wrap: break-word;
	position: relative;
	width: 100%;
}
.post-contenedor .post-contenido span.p-2 > img.img_smart {
	min-width: 30%;
	max-width: 100%;
}
.spectre-social .social-btn {
	border: 1px solid #F46E87;
	border-radius: 4px;
	width: 60px;
	height: 40px;
	display: inline-block;
	text-align: center;
	font-size: 1.4em;
	line-height: 40px;
	position: relative;
	color: #F46E8F;
	font-family:LineIcons!important;
	text-decoration: none;
	cursor: pointer;
}
.spectre-social .social-btn span {
	position: absolute;
	font-size: 14px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10em;
	line-height: 16px;
	top: -1px;
	right: -2px;
	color: #F46E87;
	font-weight: 700;
}
.spectre-social .social-btn.facebook:hover {
	border: 1px solid #3b5998;
	color: #3b5998;
}
.spectre-social .social-btn.twitter:hover {
	border: 1px solid #00aced;
	color: #00aced;
}
.spectre-social .social-btn.lni-share-alt:hover {
	border: 1px solid #F50649;
	color: #F50649;
}
.spectre-social .social-btn.facebook::before {
	content: '\EA9A';
}
.spectre-social .social-btn.facebook:hover::before {
	content: '\EA99';
}
.spectre-social .social-btn.twitter::before {
	content: '\EA97';
}
.spectre-social .social-btn.twitter:hover::before {
	content: '\EA7B';
}
.dar_puntos {
	display: table;
}
.dar_puntos a {
	float: left;
	border: 1px solid #F46E87;
	color: #F46E87;
	border-radius: 4px;
	width: 22px;
	height: 22px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	margin-right: 5px;
	text-decoration: none;
}
.dar_puntos a:hover {
	background-color: #F46E87;
	color: #EEE;
}
.post-acciones ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-acciones ul li {
	display: inline-block;
}
#post-comentarios {
}
#post-comentarios .tet span {
	font-size: 14px;
	font-style: italic;
}
.comentarios-title {
	position: relative;
	border-bottom: 1px solid #CCC;
}
.comentarios-title h4 {
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
}
.comentarios-title h4 #ncomments {
	font-size: 24px;
	font-weight: 700;
	float: left;
	margin: 0px 6px;
}
.comentarios-title .loading {
	position: absolute;
	left: 12px;
	top: 6px;
	background-color: #FFF;
}
#no-comments {
	text-align: center;
	display: block;
	padding: 20px 0;
	font-family: monospace;
	background-color: #EEEEEE88;
}
.comment-show {
	border: 1px solid #F46E87;
	margin: 6px;
}
.comment-show .avatar {
	float: left;
	margin: 4px;
}
.comment-show .content {
	margin-left: 52px;
	position: relative;
}
.comment-show .content .name_user time {
	display: block;
	font-size: 11px;
	font-style: italic;
}
.comment-show .content .name_user .answerOptions {
	position: absolute;
	top: 2px;
	right: 2px;
}
.comment-show .content .name_user .answerOptions ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
}
.comment-show .content .name_user .answerOptions ul li {
	display: inline-block;
	float: left;
}
.comment-show .content .name_user .answerOptions ul li a {
	padding: 2px 6px;
	cursor: pointer;
	margin-left: 3px;
	display: block;
	color: #F46E87;
	text-decoration: none;
}
.numbersvotes {
	margin-top: 4px;
}
.answerInfo {
	float: left;
	width: 48px;
	position: relative;
}
.answerInfo .avatar-48 {
	width: 48px;
	height: 48px;
}
.answerInfo .loading {
	display: none;
	background-color: rgba(255,255,255,.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
}
.answerTxt {
	margin-left: 50px;
}
/* MONITOR */
.listado-content,
.categoriaList ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.listado-content li.unread {
	background-color: #FEF8D2;
}
.listado-content li {
	height: 52px;
	overflow: hidden;
}
.listado-content li:nth-child(2n+1) {
	background-color: #EAEAEA;
}
.listado-content li .avatar-box {
	float: left;
	padding: 4px;
	width: 50px;
	height: 50px;
	margin-right: 6px;
}
.listado-content li .avatar-box a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 1px solid #777;
	border-radius: 10em;
}
.listado-content li .notification-info span {
	display: block;
}
.listado-content li .notification-info span i {
	font-size: 11px;
	color: #888;
}
.categoriaList ul li strong {
	background-color: #EEE;
	display: block;
	padding: 4px;
}
.categoriaList ul li input[type="checkbox"] {
	width: 18px;
	height: 18px;
	float: left;
	margin: 4px;
}
#SmileWysibb a {
	font-size: 1.5em;
	padding: 2px;
	text-decoration: none;
}